<div class="navbar_container">
    <div class="nav_left_opts">
        <img src="/static/awardsapp/images/ic_logo.svg" class="nav_logo" onclick="window.location.href='{% url 'index' %}'" alt="Navigate back to home">
        <p id="nav_title">Awards</p>
    </div>
    <div class="nav_right_opts">
        {% if request.path != '/new-project/' %}
            <button type="button" class="nav_btn" onclick="window.location.href='{% url 'new_project_page' %}'">Post</button>
        {% endif %}
        {% if is_project_view %}
            <button type="button" class="nav_btn" onclick="window.location.href='{% url 'profile_page' 1 %}'">Review</button>
        {% endif %}
        {% if request.user.is_authenticated %}
            <button type="button" class="nav_btn" onclick="window.location.href='{% url 'profile_page' request.user.id %}'">{{ user.username }}</button>
        {% else %}
            <button type="button" class="nav_btn" onclick="window.location.href='{% url 'login_page' %}'">Login</button>
        {% endif %}
    </div>
</div>