{% extends 'awardsapp/base/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'awardsapp/styles/index_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'awardsapp/styles/navbar_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'awardsapp/styles/grid_item_styles.css' %}">
{% endblock %}

{% block navbar %}
  {% include 'awardsapp/includes/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="main_container">
        <form method="GET" action="">
            <!-- We don't need a csrf token since this is a get req -->
            <input class="search_field" name="q" type="text" placeholder="Search...">
        </form>
        <div class="index_container">

            <div class="results">
                {% for project_item in projects %}
                    {% include 'awardsapp/includes/grid_item.html' with project=project_item %}
                {% endfor %}
            </div>
      </div>
    </div>

{% endblock %}