.index_container{
    height: 100%;
    width: 90%;
    margin-top: 0%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    padding-top: 2.5vh;
}

.results {
    display: grid;
    row-gap: 3.5%;
    column-gap: 2%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    width: 100%;
    margin: auto auto;
    align-items: center;
    justify-content: center;
}

.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 100%;
    margin-bottom: 2vh;
    padding: 0.75vh 1.25vw;
    font-size: medium;
    border-radius: 3.5px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #a6a6a6;
    outline: none;
    background-color: #f2f2f2;
}

input:focus{
    background-color: #fff;
}

.bottom_space{
    width: 100%;
    padding: 2vh 0;
    text-align: center;
}

/* Styling for the phone */
@media only screen and (max-width: 595px) {
    /* Here are some changes*/
    .results {
        display: grid;
        row-gap: 1%;
        column-gap: .75%;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 1fr;
        width: 100%;
        margin: 0 auto;
    }

    .bottom_space{
        margin: 2vh 0;
        padding: 2vh 0;
    }
}

/* Styling for the phone */
@media only screen and (min-width: 596px) and (max-width: 880px) {
    /* Here are some changes*/
    .results {
        display: grid;
        row-gap: 2%;
        column-gap: .75%;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        width: 100%;
        margin: 0 auto;
    }

    .bottom_space{
        margin: 2vh 0;
        padding: 2vh 0;
    }
}

/* Styling for the phone */
@media only screen and (min-width: 881px) and (max-width: 1200px) {
    /* Here are some changes*/
    .results {
        display: grid;
        row-gap: 5%;
        column-gap: .75%;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        width: 100%;
        margin: 0 auto;
    }
}