.reviews_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2vh;
}

.review_item_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5vh 0;
}

.reviewer_info_container{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.review_item_values{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: flex-end;
}

.rating_val{
    font-size: large;
}

.descriptive_txt{
    font-size: medium;
}

.rating_submit_time_txt{
    color: grey;
    font-size: small;
    margin: 0;
}

/* Styling for the phone */
@media only screen and (max-width: 640px) {
    /* Here are some changes*/
    .rating_val{
        font-size: medium;
    }
    .descriptive_txt{
        font-size: small;
    }
    .rating_submit_time_txt{
        color: grey;
        font-size: x-small;
        margin: 0;
    }
}

/* Styling for the phone */
@media only screen and (min-width: 641px) and (max-width: 880px) {
    /* Here are some changes*/
     .rating_val{
        font-size: medium;
    }
    .descriptive_txt{
        font-size: small;
    }
}

/* Styling for the phone */
@media only screen and (min-width: 881px) and (max-width: 1200px) {
    /* Here are some changes*/

}